.parent {
    display: flex;
    gap: 30px;
    background-color: lightcyan;
    /* width: 100%;
    height: 100vh;  */
    padding: 40px;
    /* justify-content: space-between; */
}

.first {
    width: 50%;
}

.first>h1 {
    background-color: rgb(173, 179, 250);
}

.first>p {
    margin-top: 20px;
}

.button1 {
    margin-top: 20px;
    background-color: rgb(16, 16, 16);
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    color: white;
    padding: 12px;

}

.second {
    width: 50%;
}

.second>img {
    border-radius: 30px;
    width: 100%;
    /* height: auto; */
}



.Card>img {
    width: 100%;
}

.cardParent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    margin: 50px;
}

.Card {
    border: 2px solid;
    border-radius: 30px;
    box-shadow: 2px -2px 12px;
    overflow: hidden;
}

.button2 {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 10px 30px;
}

.Card>p {
    margin: 10px 10px;
}

.Card>h1 {
    margin: 10px;
}

.button2>button:hover {
    padding: 10px;
    background-color: rgb(252, 252, 253);
    border-radius: 20px;
    transform: scale(1.2);
    box-shadow: 2px 2px 12px 2px;
    color: black;

}

.button2>button {
    padding: 10px;
    background-color: rgb(12, 14, 14);
    border-radius: 20px;
    color: white;
    transition: all 0.2s ease-in-out;
    margin-top: 10px;

}

.button1:hover {
    padding: 10px;
    transform: scale(1.2);
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 12px 2px;
    color: black;
}