*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

.head1{
    width: 100%;
    height: 100vh;
    background-color: gray;
    padding: 200px 30px;
    display: flex;
    gap: 30px;
}

.card1{
    
    width: 50%;
    height: 50vh;
    padding: 80px 20px;
    background-color: rgb(173, 129, 129);
    border-radius: 20px;
    color: white;
    text-align: center;
}

.card1>h1{
    color: rgb(56, 51, 51);
}

.righthome{
    width: 100%;
    background-color: rgb(69, 67, 67);
    border-radius: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    text-align: center;
    color: white;

}

#g1{
    background-image: url(https://www.shutterstock.com/image-photo/sun-sets-behind-mountain-ranges-600nw-2479236003.jpg);
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 1/3;
    border-radius: 6%;
    background-size: cover;
    
}

#g2{
    background-image: url(https://img.freepik.com/free-photo/beautiful-lake-mountains_395237-44.jpg?semt=ais_hybrid&w=740&q=80);
     background-position: center;
    background-repeat: no-repeat;
    border-radius: 6%;
    background-size: cover;
}

#g3{
    background-image: url(https://media.istockphoto.com/id/1550071750/photo/green-tea-tree-leaves-camellia-sinensis-in-organic-farm-sunlight-fresh-young-tender-bud.jpg?s=612x612&w=0&k=20&c=RC_xD5DY5qPH_hpqeOY1g1pM6bJgGJSssWYjVIvvoLw=);
    
}

#g4{
    background-image: url(https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630);
}

#g5{
    background-image: url(https://img.freepik.com/free-photo/green-trees-near-body-water-daytime_395237-20.jpg?semt=ais_hybrid&w=740&q=80);
}

#g6{
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20230411/pngtree-nature-forest-sun-ecology-image_2256183.jpg);
}


.rp{
    display: flex;
    /* margin-top: ; */
    padding: 100px 20px;
}

.box1{
    width: 40%;
    background-color: yellow;
}


.box2{
    width: 60%;
    background-color: lightblue;
}

@media screen and (max-width:950px) {
    .box1{
        width: 50%;
    }

    .box2{
        width: 50%;
    }

}

@media screen and (max-width:550px) {

    .box1>h1{
        font-size: 20px;
    }

    .box2>h1{
        font-size: 20px;
    }

}

@media screen and (max-width:400px) {

    .parent{
        flex-direction: column;
    }

    .box1{
        width: 100%;
        text-align: center;
    }

    .box2{
        width: 100%;
        text-align: center;
    }
}

@media screen (max-width: 517px) {
    
    .box1{
     padding: 30px;
     text-align: center;
    }

    .box2{
     padding: 30px;
     text-align: center;
    }
}



