.box {
    width: 20%;
    height: 20%;
    background-color: rgb(129, 157, 235);
}

.head {
    width: 100%;
    height: 200vh;
}

.box:hover {
    background-color: rgb(125, 55, 12);
    width: 400px;
    height: 400px;
    transition: all 5s ease-in-out;
    text-transform: uppercase;
    color: white;
    border-radius: 20%;
    text-align: center;
}

.box2 {
    background-color: rgb(146, 146, 234);
    width: 300px;
    height: 300px;
    position: relative;
    animation-name: animatio1;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 5;
    animation-direction: alternate;
    border-radius: 200%;
    text-align: center;
}

@keyframes animatio1 {
    0% {
        left: 0;
        top: 0;
    }

    25% {
        left: 500px;
        top: 0;
    }

    50% {
        left: 500px;
        top: 500px;
    }

    75% {
        left: 0;
        top: 500px;
    }

    100% {
        left: 0;
        top: 0;
    }
}

.box3 {
    width: 200px;
    height: 150px;
    border: solid;
    overflow: auto;
}

.box4 {
    width: 100px;
    height: 100px;
    text-align: center;
    transition: all 3s ease-in-out;
    background-color: red;
    border: 2px solid rgb(125, 55, 12);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    -2px -2px 12px rgba(0, 0, 0, 0.3);

}

.box4:hover {
    border-radius: 50px;
    transform: scale(1.3) translateX(300px) rotate(360deg);
}

.class>p:nth-child(odd) {
    background-color: rgb(231, 231, 33);
    border: 2px solid rgb(231, 231, 33);
}


.gridhome{
    width: 100%;
    height: 50%;
    background-color: brown;
    padding: 20px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 50px;
    justify-content: space-around;
    grid-template-rows: 50px 50px 50px;
}

.box1{
    background-color: rgb(51, 121, 227);
    border: 2px solid;
}

#db1{
    grid-column: 1/3;
    grid-area: 1/1/4;
}

.head1{
    background-color: rgb(165, 149, 149);
    width: 100%;
    height: 100vh;
    padding: 200px 20px;
    display: flex;
    gap: 30px;

}

