@import url('https://fonts.googleapis.com/css2?family=Butcherman&family=Eater&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Butcherman&display=swap');

#bmw {
    color: rgb(24, 29, 37);
    background-image: url(logo.png);
    background-position: center;
    background-size: cover;

}

#css {
    background-color: rgb(181, 207, 235);
    color: rgb(58, 80, 80);
}

h2 {
    background-color: rgb(167, 206, 237);
    color: black;
}

#div1 {
    background-color: gray;
}

#div2 {
    border-style: solid;
    border-color: rgb(10, 10, 9);
    background-color: rgb(166, 179, 226);
}

#Header {
    background-image: url(https://www.naturepositive.org/app/uploads/2024/03/valleys-and-hills-2000x1017.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


#logo{
    width: 100px;
    position: fixed;
    top: 40px;
right: 40px;
}

#sub-hd {
    text-align: center;
    color: rgb(230, 216, 216);
}

#main-hd {
    text-align: center;
    color: rgb(247, 241, 241);
}

#pera {
    text-align: center;
    color: rgb(245, 241, 241);
}

#bdr {
    background-color: rgb(233, 185, 185);
    border-style: solid;
    border-width: 10px 20px 5px;
    padding-top: 10px 20px 10px;
    padding-bottom: 50px;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 50px;
}

#textbox {
    background-color: beige;
    padding: 30px;
}

#dumhd {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

#text {

    text-align: justify;
    text-indent: 30px;
    word-spacing: 1px;
}

#ggfont1 {
    font-family: Butcherman;
    font-weight: 400;
    font-style: normal;

}

#ggfont2 {
    font-family: "Eater", serif;
    font-weight: 400;
    font-style: normal;
    background-color: beige;
    border-radius: 3px 50px 10px 40px;
    box-shadow: -10px -5px 10px 5px;
    text-shadow: 3px;
}


#taskbox1 {
    background-color: rgb(216, 215, 214);
    padding: 30px 20px;
    border-radius: 20px;
    margin: 20px;
}

#taskbox1>button {
    background-color: rgb(68, 106, 231);
    padding: 10px 14px;
    border-radius: 6px;
    color: rgb(229, 232, 236);
}

#linkbox1>a{
    color: rgb(133, 34, 4);
    text-decoration: none;
    margin: 10px 0;
}


#linkbox1>a:visited {
    color: rgb(52, 165, 42);
}


#linkbox1>a:hover {
    color: rgb(255, 255, 0);
    background-color: black;
    padding: 20px;
}


#linkbox1>a:active {
    color: blue;
    
}

#linkbox1>button:hover {
    background-color: rgb(14, 231, 32);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
}

#card1{
    border: 2px solid black;
    text-align: center;
    width: 300px;
    padding: 20px;
    display: inline-block
}

#card1>img{
    width: 100px;
}

#card1>button{
    background-color: rgb(179, 179, 71);
    color: white;
    width: 300px;
    border-radius: 20px;
}

#card2{
    border: 2px solid black;
    text-align: center;
    width: 300px;
    padding: 20px;
      display: inline-block
}

#card2>img{
    width: 100px;
}

#card2>button{
    background-color: rgb(179, 179, 71);
    color: white;
    width: 300px;
    border-radius: 20px;
}

#card3{
    border: 2px solid black;
    text-align: center;
    width: 300px;
    padding: 20px;
      display: inline-block
}

#card3>img{
    width: 100px;
}

#card3>button{
    background-color: rgb(179, 179, 71);
    color: white;
    width: 300px;
    border-radius: 20px;
}


.parent{
    background-color: rgb(180, 185, 176);
    border: 1px solid black;
    height: 500px;
    position: relative;
}

.child{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.child1{
background-color: rgb(149, 163, 240);
position: absolute;
top: 20x;
left: 50px;
}

.child2{
    background-color: rgb(124, 247, 9);
}

.child3{
    background-color: rgb(214, 108, 22);
}

